.container {
  display: flex;
  justify-content: center;
}

mat-card {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 400px;
  min-height: 400px;
  width: 400px;
  border-radius: 10px;
}

mat-card-title {
  text-align: center;
}

.main {
  margin: 0;
}

.fps {
  background-color: #fff;
  color: red;
}

.button-container {
  margin-bottom: 5px;
}

.back > button {
  background-color: #fff;
  color: blueviolet;
}

mat-form-field {
  min-width: 350px;
}

.pr-container {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 10px;
}

.error-text {
  display: block;
  min-height: 20px;
}
