.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

mat-card {
  max-width: 500px;
  min-width: 400px;
  min-height: 350px;
  border-radius: 10px;

}

mat-form-field {
  min-width: 300px;
}

mat-form-field {
  margin-bottom: 10px;
}

.pr-container {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 10px;
}

.error-text {
  display: block;
  min-height: 20px;
}
