<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue fixed-top">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="home">{{ title }}</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="userLogged">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="reserve">Reserve</a>
      </li>
      <li class="nav-item" *ngIf="userLogged">
        <a class="nav-link waves-light" mdbWavesEffect>Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="contact">Contact Us</a>
      </li>
    </ul>



    <ul class="navbar-nav nav-flex-icons">

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="material-icons white-text" style="margin-right: 7px">
            account_circle
          </i> {{loginText}}</a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a *ngIf="loginText!='Login/Signup'" class="dropdown-item waves-light" mdbWavesEffect
             (click)="authService.signOut()">Logout</a>
          <a *ngIf="loginText=='Login/Signup'" class="dropdown-item waves-light" mdbWavesEffect (click)="login()">Sign
            In</a>

        </div>
      </li>

    </ul>

  </links>

  <!-- Links -->


  <!-- Collapsible content -->

  <ul class="nav justify-content-end">
    <li class="nav-item white-text ">
      <button mat-icon-button (click)="login()">
        Logout
      </button>

    </li>
  </ul>

</mdb-navbar>
<!--/.Navbar-->
<router-outlet>

</router-outlet>

<app-footer></app-footer>



