<!-- Grid row -->
<div class="nav-row">

  <!-- Grid column -->
  <div class="col-md-2 navBar">

    <ul class="nav lighten-4 py-4 font-weight-bold">
      <li class="nav-item">
        <a class="nav-link active" href="#!">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#!">Disabled</a>
      </li>
    </ul>

  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
  <button mat-raised-button class="in-car"> Click </button>
</mdb-carousel>
<!--/.Carousel Wrapper-->

