.navBar
{
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.nav-row
{
  position: fixed;
  z-index: 999;
  min-width: 100%;
  box-shadow: 0 10px 10px rgba(96, 96, 96, 0.31);
  background-color: rgba(241, 241, 241, 0.38);
}

.nav-link{
  color: black;
}

