<div class="col-lg-10 col-md-12 offset-xl-1">
  <!-- Section: Contact v.1 -->
  <!-- Section: Contact v.2 -->

  <section class="my-5" id="contactUsSection">

    <!-- Section heading -->
    <br>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>

    <div #alert class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success==1">
      <strong>Thank You!</strong> We will consider your problem and contact you soon as possible.
    </div>

    <div #alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="success==2">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    </div>

    <hr>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">We are here to hear your queries.
      Contact us and tell us what is your problem is. We will make a inquiry and do our best to resolve your problem. Yor are our valuable customer.
      Please fill the form and let us know about your problem.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">

        <form [formGroup]="contactUsFormGroup" (ngSubmit)="submitContactUsData(contactUsFormGroup)">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" name="contactName" formControlName="contactName" placeholder="Your Name" required>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="email" name="contactEmail" formControlName="contactEmail"  placeholder="Your Email Address" required>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" name="contactSubject" formControlName="contactSubject" placeholder="Subject">
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="contact-message" class="form-control md-textarea" formControlName="contactMessage" rows="1" required name="contactMessage"></textarea>
                <label for="contact-message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <div class="text-center text-md-left">
            <button class="btn btn-primary btn-md" type="submit" id="submitButton">Send</button>
          </div>
        </form>

      </div>
      <!-- Grid column -->

      <div *ngIf="contactName.invalid"
           class="alert alert-danger">

        <div *ngIf="contactName.errors.required">
          Name is required.
        </div>
        <div *ngIf="contactName.errors.minlength">
          Name must be at least 4 characters long.
        </div>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 text-center" id="contactDetails">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa fa-map-marker fa-2x blue-text"></i>
            <p>San Francisco, CA 94126, USA</p>
          </li>
          <li>
            <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
            <p>+ 01 234 567 89</p>
          </li>
          <li>
            <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
            <p class="mb-0">contact@example.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>

  <!-- Section: Contact v.1 -->
  <!--<div class="alert alert-success" role="alert">-->
    <!--<h4 class="alert-heading">Well done!</h4>-->
    <!--<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>-->
    <!--<hr>-->
    <!--<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>-->
  <!--</div>-->
</div>
