
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>


<!--Main Wrapper Start-->
<div class="wrapper bg-white fix">
  <!--Bg White Start-->
  <div class="bg-white">
    <!--Header Area Start-->
    <header class="header-area sticker" id="topnav">
      <div class="header-wrapper header-padding">
        <div class="header-top hidden-xs">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="top-left">
                  <ul>
                    <li><i class="zmdi zmdi-email"></i> evanlink@email.com</li>
                    <li><i class="zmdi zmdi-phone"></i> 098-12-3100</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="top-right">
                  <ul>
                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="logo">
                  <a href="index.html"><img src="images/logo/logo.png" alt="swimmer" /></a>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="menu-area">
                  <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                      <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </a>
                    <!-- End mobile menu toggle-->
                  </div>
                </div>
                <div id="navigation" class="main-menu">
                  <nav>
                    <ul class="navigation-menu">
                      <li><a href="index.html">home </a></li>
                      <li><a href="about.html">About </a></li>
                      <li><a href="grid-view-one.html">courses </a>
                        <ul class="submenu">
                          <li><a href="grid-view-one.html">grid view one</a></li>
                          <li><a href="grid-view-two.html">grid view two</a></li>
                        </ul>
                      </li>
                      <li class="hidden-sm"><a href="instructor.html">Instructor</a></li>
                      <li><a href="register.html">register </a></li>
                      <li><a href="contact.html">contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End of Header Area -->
    <!-- Start Slider Area-->
    <section id="slider-container" class="slider-area">
      <div class="swimmer-owl-slider">
        <!-- Start Single Slide -->
        <div class="single-slide hs-item" style="background-image: url(images/slider/1.jpg)">
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="slider-content dis-table">
                    <div class="dis-table-cell hs-content slide-content text-center">
                      <h3>swimming </h3>
                      <h1>a healthy activity for your kids</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      <a href="#" class="btn hidden-xs">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="single-slide hs-item" style="background-image: url(images/slider/2.jpg)">
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="slider-content dis-table">
                    <div class="dis-table-cell hs-content slide-content text-center">
                      <h3>swimming </h3>
                      <h1>a healthy activity for your kids</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      <a href="#" class="btn hidden-xs">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="single-slide hs-item" style="background-image: url(images/slider/3.jpg)">
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="slider-content dis-table">
                    <div class="dis-table-cell hs-content slide-content text-center">
                      <h3>swimming </h3>
                      <h1>a healthy activity for your kids</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      <a href="#" class="btn hidden-xs">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Single Slide -->
      </div>
    </section>
    <!-- End Slider Area -->
    <!--Start Class Area-->
    <div class="class-area text-center pt-150 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-class">
              <div class="class-icon">
                <img src="images/class/1.png" alt="class">
              </div>
              <div class="class-content">
                <h3>Swim class for mini</h3>
                <h6>Instructor Adom Jonson </h6>
                <p class="hover">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. </p>
                <div class="class-button">
                  <a href="#" class="read-more btn"><span>read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-class">
              <div class="class-icon">
                <img src="images/class/2.png" alt="class">
              </div>
              <div class="class-content">
                <h3>Swim class for toddler</h3>
                <h6>Instructor Adom Jonson </h6>
                <p class="hover">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. </p>
                <div class="class-button">
                  <a href="#" class="read-more btn"><span>read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm col-xs-12">
            <div class="single-class">
              <div class="class-icon">
                <img src="images/class/3.png" alt="class">
              </div>
              <div class="class-content">
                <h3>Swim class for adult</h3>
                <h6>Instructor Adom Jonson </h6>
                <p class="hover">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. </p>
                <div class="class-button">
                  <a href="#" class="read-more btn"><span>read more</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Class Area -->
    <!-- Start of Appointment Area -->
    <div class="appointment-area">
      <div class="container-fluid">
        <div class="row">
          <div class="appoint-left active">
            <div class="game">
              <a href="#"><img src="images/appointment/2.jpg" alt="appointment"></a>
            </div>
            <div class="video-icon video-hover">
              <a class="video-popup" href="https://https://www.youtube.com/watch?v=P3JCqYEEd2A">
                <i class="zmdi zmdi-play-circle-outline"></i>
              </a>
            </div>
          </div>
          <div class="appoint-right pt-20 pb-20 pr-100 pl-100 text-center" style="background: url(images/appointment/1.jpg);">
            <div class="appoint-content">
              <img src="images/appointment/1.png" alt="appointment">
              <h6>about us</h6>
              <h2>welcome to pur swimmer</h2>
              <h3>book a appointment now</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lenderit in voluptate </p>
              <div class="class-button">
                <a href="#" class="read-more btn"><span>read more</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Appointment Area -->
    <!-- Start of Our Classes Area -->
    <div class="our-classes-area pt-73 pb-30">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title text-center">
              <h2>our classes</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#mini">
                      <span class="panel-left"><img src="images/icon/2.png" alt="">1 | 2-3 years</span>
                      <span class="panel-middle">Mini infant class</span>
                      <span class="panel-right"><i class="zmdi zmdi-minus"></i><i class="zmdi zmdi-plus hover"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="mini" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-left">
                          <h3 class="login-title">swim clasess for infant</h3>
                          <p class="heading-p">Age 2-3 Years</p>
                          <p class="heading-p">Class Time : 10am-11am</p>
                          <p class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis notrud.</p>
                          <p class="heading-p">Totall Class - 20</p>
                          <button><span>Register Now</span></button>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-right">
                          <img src="images/class/1.jpg" alt="class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#junior">
                      <span class="panel-left"><img src="images/icon/2.png" alt="">2 | 3-4 years</span>
                      <span class="panel-middle">Junior class</span>
                      <span class="panel-right"><i class="zmdi zmdi-minus"></i><i class="zmdi zmdi-plus hover"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="junior" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-left">
                          <h3 class="login-title">swim clasess for junior</h3>
                          <p class="heading-p">Age 3-4 Years</p>
                          <p class="heading-p">Class Time : 11am-12am</p>
                          <p class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis notrud.</p>
                          <p class="heading-p">Totall Class - 20</p>
                          <button><span>Register Now</span></button>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-right">
                          <img src="images/class/2.jpg" alt="class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#toddler">
                      <span class="panel-left"><img src="images/icon/2.png" alt="">3 | 4-5 years</span>
                      <span class="panel-middle">Toddler class</span>
                      <span class="panel-right"><i class="zmdi zmdi-minus"></i><i class="zmdi zmdi-plus hover"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="toddler" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-left">
                          <h3 class="login-title">swim clasess for infant</h3>
                          <p class="heading-p">Age 4-5 Years</p>
                          <p class="heading-p">Class Time : 10am-11am</p>
                          <p class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis notrud.</p>
                          <p class="heading-p">Totall Class - 20</p>
                          <button><span>Register Now</span></button>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-right">
                          <img src="images/class/3.jpg" alt="class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#begginer">
                      <span class="panel-left"><img src="images/icon/2.png" alt="">4 | 5-6 years</span>
                      <span class="panel-middle">Beginner class</span>
                      <span class="panel-right"><i class="zmdi zmdi-minus"></i><i class="zmdi zmdi-plus hover"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="begginer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-left">
                          <h3 class="login-title">swim clasess for Beginner</h3>
                          <p class="heading-p">Age 5-6 Years</p>
                          <p class="heading-p">Class Time : 10am-11am</p>
                          <p class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis notrud.</p>
                          <p class="heading-p">Totall Class - 20</p>
                          <button><span>Register Now</span></button>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-right">
                          <img src="images/class/4.jpg" alt="class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#adult">
                      <span class="panel-left"><img src="images/icon/2.png" alt="">5 | 6-12 years</span>
                      <span class="panel-middle">Adult class</span>
                      <span class="panel-right"><i class="zmdi zmdi-minus"></i><i class="zmdi zmdi-plus hover"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="adult" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-left">
                          <h3 class="login-title">swim clasess for adult</h3>
                          <p class="heading-p">Age 6-12 Years</p>
                          <p class="heading-p">Class Time : 10am-11am</p>
                          <p class="main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis notrud.</p>
                          <p class="heading-p">Totall Class - 20</p>
                          <button><span>Register Now</span></button>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="class-right">
                          <img src="images/class/5.jpg" alt="class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Our Classes Area -->
    <!-- Start of Instructor Area -->
    <div class="instructor-area bg-gray pt-76 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title text-center">
              <h2>our best instructor</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <div class="slick-wrapper">
                  <div class="insturctor-owl">
                    <div class="col-xs-12">
                      <div class="single-instructor blue">
                        <div class="inst-img">
                          <img src="images/insturctor/2.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="single-instructor red">
                        <div class="inst-img">
                          <img src="images/insturctor/3.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="single-instructor">
                        <div class="inst-img">
                          <img src="images/insturctor/1.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="single-instructor blue">
                        <div class="inst-img">
                          <img src="images/insturctor/2.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="single-instructor red">
                        <div class="inst-img">
                          <img src="images/insturctor/3.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="single-instructor">
                        <div class="inst-img">
                          <img src="images/insturctor/1.jpg" alt="insturctor">
                          <div class="inst-content text-center pt-36 pb-40 pl-30 pr-30">
                            <h5>Swim Instructor</h5>
                            <h6>Mohosin khan</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <ul>
                              <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                              <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Instructor Area -->
    <!-- Start of Testimonal Area -->
    <div class="testimonial-area">
      <div class="container">
        <div class="row">
          <div class="testimonial-owl">
            <div class="col-xs-12">
              <div class="testimonial-content text-center pt-75 pb-100 mt-80 mb-80">
                <h3>what client say?</h3>
                <i class="zmdi zmdi-quote first"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et daenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolore eu fugiat swimmer ground</p>
                <i class="zmdi zmdi-quote"></i>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="testimonial-content text-center pt-75 pb-100 mt-80 mb-80">
                <h3>what client say?</h3>
                <i class="zmdi zmdi-quote first"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et daenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolore eu fugiat swimmer ground</p>
                <i class="zmdi zmdi-quote"></i>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="testimonial-content text-center pt-75 pb-100 mt-80 mb-80">
                <h3>what client say?</h3>
                <i class="zmdi zmdi-quote first"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et daenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolore eu fugiat swimmer ground</p>
                <i class="zmdi zmdi-quote"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Testimonal Area -->
    <!--Start of gallery Area-->
    <div class="project-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title text-center">
              <h2>our gallery</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid">
            <div class="grid-item cat1 cat3">
              <div class="portfolio-img">
                <img src="images/portfolio/1.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/1.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat2 cat3">
              <div class="portfolio-img">
                <img src="images/portfolio/2.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/2.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat1 cat2">
              <div class="portfolio-img">
                <img src="images/portfolio/3.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/3.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat2">
              <div class="portfolio-img">
                <img src="images/portfolio/4.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/4.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat2 cat3">
              <div class="portfolio-img">
                <img src="images/portfolio/5.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/5.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat1 cat3">
              <div class="portfolio-img">
                <img src="images/portfolio/6.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/6.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item cat1 cat3">
              <div class="portfolio-img">
                <img src="images/portfolio/7.jpg" alt="project" />
                <div class="portfolio-hover-wrapper">
                  <div class="portfolio-hover">
                    <div class="hover-content">
                      <a class="img-poppu" href="images/portfolio/7.jpg">
                        <i class="zmdi zmdi-eye"></i>
                      </a>
                      <h4>Mini Infant kids</h4>
                      <p>Lorem ipsum dolor sit amet, lenim ad minim veniam</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- portfolio_gallery_area End -->
        </div>
      </div>
    </div>
    <!-- End of gallery Area -->
    <!-- Start of pricing Area -->
    <div class="pricing-area pt-75 pb-80 text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h2>our pricing plan</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-price">
              <div class="price-table">
                <div class="table-head">
                  <h4>Silver Pack</h4>
                  <div class="price-icon">
                    <span><img src="images/pricing/1.png" alt="price"></span>
                  </div>
                </div>
                <div class="table-body">
                  <h2>$95 <span> / month</span></h2>
                  <ul>
                    <li>Mini - Toddler</li>
                    <li>Coffee Break</li>
                    <li>Total Classes - 15</li>
                    <li>Group Lesson</li>
                  </ul>
                  <button><span>Register Now</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-price offer">
              <div class="price-table">
                <div class="table-head">
                  <h4>Premium Pack</h4>
                  <div class="price-icon">
                    <span><img src="images/pricing/2.png" alt="price"></span>
                  </div>
                </div>
                <div class="table-body">
                  <h2>$95 <span> / month</span></h2>
                  <ul>
                    <li>Mini - Toddler</li>
                    <li>Coffee Break</li>
                    <li>Total Classes - 15</li>
                    <li>Group Lesson</li>
                  </ul>
                  <button class="active"><span>Register Now</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm col-xs-12">
            <div class="single-price">
              <div class="price-table">
                <div class="table-head">
                  <h4>Platinum Pack</h4>
                  <div class="price-icon">
                    <span><img src="images/pricing/3.png" alt="price"></span>
                  </div>
                </div>
                <div class="table-body">
                  <h2>$95 <span> / month</span></h2>
                  <ul>
                    <li>Mini - Toddler</li>
                    <li>Coffee Break</li>
                    <li>Total Classes - 15</li>
                    <li>Group Lesson</li>
                  </ul>
                  <button><span>Register Now</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of pricing Area -->
    <!-- start of fun Area -->
    <div class="fun-area pt-110 pb-110">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-fun text-center">
              <div class="fun-img">
                <span><img src="images/fun/1.png" alt="fun"></span>
              </div>
              <div class="fun-content">
                <h3 class="counter">2,400</h3>
                <h5>happy clients</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-fun text-center">
              <div class="fun-img">
                <span><img src="images/fun/2.png" alt="fun"></span>
              </div>
              <div class="fun-content">
                <h3 class="counter">28</h3>
                <h5>experience</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-fun text-center">
              <div class="fun-img">
                <span><img src="images/fun/3.png" alt="fun"></span>
              </div>
              <div class="fun-content">
                <h3 class="counter">90</h3>
                <h5>success</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 hidden-sm col-xs-12">
            <div class="single-fun text-center">
              <div class="fun-img">
                <span><img src="images/fun/4.png" alt="fun"></span>
              </div>
              <div class="fun-content">
                <h3 class="counter">560</h3>
                <h5>awards</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of fun Area -->
    <!-- Start of blog Area -->
    <div class="blog-area pt-80 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-blog text-center">
              <div class="blog-img">
                <img src="images/blog/1.jpg" alt="blog">
                <a href="#"><i class="zmdi zmdi-link"></i></a>
                <div class="date">feb <span>21</span></div>
              </div>
              <div class="blog-content text-left">
                <h3><a href="#">Swimming is The Best Physical Activity</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicinig elit, sed do eiusmod tempor incididunt ut labo rloreb magna alialiquip.</p>
                <a href="#" class="read-more"><span>read more</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-blog text-center">
              <div class="blog-img">
                <img src="images/blog/2.jpg" alt="blog">
                <a href="#"><i class="zmdi zmdi-link"></i></a>
                <div class="date">feb <span>24</span></div>
              </div>
              <div class="blog-content text-left">
                <h3><a href="#">Swimming is The Best Physical Activity</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicinig elit, sed do eiusmod tempor incididunt ut labo rloreb magna alialiquip.</p>
                <a href="#" class="read-more"><span>read more</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm col-xs-12">
            <div class="single-blog text-center">
              <div class="blog-img">
                <img src="images/blog/3.jpg" alt="blog">
                <a href="#"><i class="zmdi zmdi-link"></i></a>
                <div class="date">feb <span>26</span></div>
              </div>
              <div class="blog-content text-left">
                <h3><a href="#">Swimming is The Best Physical Activity</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicinig elit, sed do eiusmod tempor incididunt ut labo rloreb magna alialiquip.</p>
                <a href="#" class="read-more"><span>read more</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of classes Area -->
    <!-- Start of contact Area -->
    <div class="contact-area text-center pb-80">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-contact">
              <div class="contact-icon">
                <i class="zmdi zmdi-home"></i>
              </div>
              <div class="contact-info">
                <h5>Address</h5>
                <p>Elizabeth Tower, 6th Floor<br> Medtown, New York</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-contact">
              <div class="contact-icon">
                <i class="zmdi zmdi-phone"></i>
              </div>
              <div class="contact-info">
                <h5>phone number</h5>
                <p>+880 19123-456780<br>
                  +880 19123-456790</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-contact">
              <div class="contact-icon">
                <i class="zmdi zmdi-email"></i>
              </div>
              <div class="contact-info">
                <h5>email</h5>
                <p>swimmer@gmail.com<br>
                  swimmer.23@gmail.com </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of contact Area -->
    <!-- Start of Footer area -->
    <footer class="footer-area">
      <div class="main-footer pt-76 pb-72">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-7 col-xs-12">
              <div class="footer-widget text-left">
                <h3>twitter Feed</h3>
                <div class="single-feed mb-15">
                  <h5>Post By: John Doe <span>12 Feb 2017</span></h5>
                  <p><a href="#">#There</a> are may <a href="#">“varations”</a> pasages of texi Lorem Ipsum available njhgh fhg excercise</p>
                </div>
                <div class="single-feed">
                  <h5>Post By: John Doe <span>12 Feb 2017</span></h5>
                  <p>There are may <a href="#">#“variations”</a> pasages of texi</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12">
              <div class="footer-widget text-center">
                <a href="index.html"><img src="images/logo/footer-logo.png" alt="logo"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, seo eiusmod tempor in hjgcididunt ut labore eagna al veniam, quis nostrud </p>
                <div class="footer-icons">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
              <div class="footer-widget f-right">
                <h3 class="text-left">latest post</h3>
                <div class="post">
                  <div class="post-img mb-3 mr-16">
                    <img src="images/post/1.jpg" alt="post">
                    <a href="#">
                      <i class="zmdi zmdi-link"></i>
                    </a>
                  </div>
                  <div class="post-img mb-3">
                    <img src="images/post/2.jpg" alt="post">
                    <a href="#">
                      <i class="zmdi zmdi-link"></i>
                    </a>
                  </div>
                  <div class="post-img mr-16">
                    <img src="images/post/3.jpg" alt="post">
                    <a href="#">
                      <i class="zmdi zmdi-link"></i>
                    </a>
                  </div>
                  <div class="post-img">
                    <img src="images/post/4.jpg" alt="post">
                    <a href="#">
                      <i class="zmdi zmdi-link"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom pt-8 pb-10">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <p>Copyright© <a href="https://themeforest.net/user/devitems/portfolio" target="_blank">Devitems</a>.All right reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of Footer area -->
  </div>
  <!--End of Bg White-->
</div>
