mdb-carousel{
  min-width: 100%;
  height: 100px;
}

#homeHeadSection{
  height: 100vh;
}

#corsel{
  max-height: 100vh;
}

#servicesSection{
  height: 50vh;
}

/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

h3{
  font-family: "URW Chancery L";
  font-size: 100px;
  color: white;
}

.top-nav-collapse {
  background-color: #f8bbd0 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #f8bbd0 !important;
  }
}

#packageSection{
  height: 100vh;
  margin-top: 13%;
}

section{
  height: 100vh;
}

img[class="d-block w-100"]{
  height: 85vh;
}

/*
css for svg
 */
::selection {
  background-color: salmon;
  color: white;
}

.parallax > use {
  animation: move-forever 12s linear infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
}

.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  z-index: 1000;
}

/*
media queries to responsive designs
 */
@media only screen and (max-width: 768px) {
  #packageSection{
    margin-top: 13%;
  }

  div[class="card card-cascade narrower mb-4"]{
    height: 100vh;
  }
  img[class="d-block w-100"]{
    height: 50vh;
  }
  svg{
    visibility: hidden;

  }
  #servicesSection{
    visibility: hidden;
  }

  div[class="col-md-4"]{
  }

  #coachSection{
    visibility: hidden;
  }

  div[class="mask flex-center rgba-black-light"]{
    visibility: hidden;
  }

}
