<!--Carousel Wrapper-->
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
<div class="container flex-center">
  <button (click)="reserve()" mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect
          style="width: 250px;height: 75px; font-size: large">{{buttonText}}
  </button>
</div>
<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28"
     preserveAspectRatio="none"

>
  <defs>
    <path id="gentle-wave"
          d="M-160 44c30 0
                    58-18 88-18s
                    58 18 88 18
                    58-18 88-18
                    58 18 88 18
                     v44h-352z"/>
  </defs>
  <g class="parallax">
    <use xlink:href="#gentle-wave" x="50" y="0" fill="#bbdefb "/>
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#64b5f6"/>
    <use xlink:href="#gentle-wave" x="50" y="6" fill="#2196f3"/>
  </g>
</svg>

<div class="container">

  <div class="container">
    <!--Section: Features v.1-->
    <section class="text-center">

      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold">Our Services</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text">As {{ title }} we are here to give you our best services for you.</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4">
          <i class="fa fa-area-chart fa-3x red-text"></i>
          <h5 class="font-weight-bold mt-3">Analytics</h5>
          <p class="grey-text">We will give you your progress report, How you are doing so far, How to manage your skills and What will be the best practices.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <i class="fa fa-book fa-3x cyan-text"></i>
          <h5 class="font-weight-bold mt-3">Tutorials</h5>
          <p class="grey-text">Everyday we have our coaches to guide you. And as well as tons of tutorial lessons to learn swimming.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <i class="fa fa-comments-o fa-3x orange-text"></i>
          <h5 class="font-weight-bold mt-3">Support</h5>
          <p class="grey-text">For any kind of support needed, Contact us and we will take care about it.
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Features v.1-->
  </div>


<!--Section: Cards-->
<div class="container">
  <section id="packageSection" class="text-center">


    <!--Section heading-->
    <h4 class="section-heading mb-5  h1 mt-0 col">Packages</h4>

    <h5 class="pb-5 col">Package Details</h5>


    <!--Grid row-->
    <div class="row">
      <!--Subheading-->
      <div class="col-md-4">


        <mdb-card class="card-cascade narrower mb-4">
          <!--Card image-->
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(148).jpg"
                        alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <h5 class="pb-2 pt-1" style="color: #9e9e9e"><i class="fa fa-group"></i> Silver</h5>
            <!-- Title -->
            <h4 class="card-title">Silver Package</h4>
            <!-- Text -->
            <p class="card-text">Can access whole pool area, you have 12h to have your fun, can bring limited number of guests, available all four coaches while your booking is finished</p>
            <!-- Button -->
            <a class="btn btn-unique waves-effect waves-light">Reserve</a>
          </mdb-card-body>
        </mdb-card>


        <!-- Card Narrower -->

      </div>
      <div class="col-md-4">

        <mdb-card class="card-cascade narrower mb-4">
          <!--Card image-->
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                        alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <h5 class="pb-2 pt-1" style="color: #fbc02d"><i class="fa fa-group"></i> Gold </h5>
            <!-- Title -->
            <h4 class="card-title">Gold Package</h4>
            <!-- Text -->
            <p class="card-text">Can access whole pool area, you have 24h to have your fun, can bring any number of guests, available all four coaches while your booking is finished</p>
            <!-- Button -->
            <a class="btn btn-unique waves-effect waves-light">Reserve</a>
          </mdb-card-body>
        </mdb-card>
        <!-- Card Narrower -->

      </div>
      <div class="col-md-4">

        <mdb-card class="card-cascade narrower mb-4">
          <!--Card image-->
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(146).jpg"
                        alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <h5 class="pb-2 pt-1" style="color: #e65100"><i class="fa fa-group"></i> Bronze</h5>
            <!-- Title -->
            <h4 class="card-title">Bronze Package</h4>
            <!-- Text -->
            <p class="card-text">Can access whole pool area, you have 12h to have your fun, can bring limited number of guests, available only selected two coaches while your booking is finished</p>
            <!-- Button -->
            <a class="btn btn-unique waves-effect waves-light">Reserve</a>
          </mdb-card-body>
        </mdb-card>
        <!-- Card Narrower -->

      </div>
    </div>
  </section>
</div>

  <div class="container">


  </div>

  <div class="container">
    <!-- Section: Team v.1 -->
    <section class="team-section text-center my-5" id="coachSection">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">This is our professional guides that will help you to make sure that you can swim</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Coach 1</h5>
          <p class="text-uppercase blue-text">
            <strong>Short range professional</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fa fa-facebook blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fa fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Coach 2</h5>
          <p class="text-uppercase blue-text">
            <strong>Diving Professional</strong>
          </p>
          <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium doloremque rem laudantium totam
            aperiam.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fa fa-facebook blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Coach 3</h5>
          <p class="text-uppercase blue-text">
            <strong>long range professional</strong>
          </p>
          <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim est fugiat nulla
            id eu laborum.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fa fa-facebook blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-instagram blue-text"> </i>
            </a>
            <!-- Dribbble -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-dribbble blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Coach 4</h5>
          <p class="text-uppercase blue-text">
            <strong>guide for beginners</strong>
          </p>
          <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur totam officia voluptates perferendis
            voluptatibus aut.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fa fa-facebook blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Team v.1 -->
  </div>

  <div class="container">

  </div>
</div>
