<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28"
     preserveAspectRatio="none">
  <defs>
    <path id="gentle-wave"
          d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z"/>
  </defs>
  <g class="parallax">
    <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1"/>
    <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa"/>
  </g>
</svg>
<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Aqua Technics PVT LTD</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
