<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28"
     preserveAspectRatio="none">
  <defs>
    <path id="gentle-wave"
          d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z"/>
  </defs>
  <g class="parallax">
    <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1"/>
    <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa"/>
  </g>
</svg>
<div class="content">
  <h1 contenteditable="true">Footer</h1>
</div>

<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <!--<a class="fb-ic">-->
            <!--<mdb-icon icon="facebook" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Twitter &ndash;&gt;-->
          <!--<a class="tw-ic">-->
            <!--<mdb-icon icon="twitter" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Google +&ndash;&gt;-->
          <!--<a class="gplus-ic">-->
            <!--<mdb-icon icon="google-plus" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Linkedin &ndash;&gt;-->
          <!--<a class="li-ic">-->
            <!--<mdb-icon icon="linkedin" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Instagram&ndash;&gt;-->
          <!--<a class="ins-ic">-->
            <!--<mdb-icon icon="instagram" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Pinterest&ndash;&gt;-->
          <!--<a class="pin-ic">-->
            <!--<mdb-icon icon="pinterest" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
